body {
    background-color:#e9fffc;
    margin: 0;
    text-align: center;  
    font-family: 'Merriweather', serif;
}
h1 {
    color: #000000;
    margin: 0px auto 0 auto;
    font-size: 5.625em;
    font-family: 'Sacramento', cursive;
   
}

h2 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}


h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    
}

p {
    line-height: 2;
}

.contact {
    width: 30%;
    margin: auto;
}

hr {
    border: dotted #000000 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.comp {
    float: left;
    margin-right: 30px;
    width: 13%;
}

.chillies {
    float: right;
    margin-left: 30px;
    width: 13%;
}

.intro {
    width: 30%;
    margin: auto;
}


.top-container { 
    background-color: #81b9b9;
    position: relative;
    padding-top: 200px;
    
}

.middle-container {
   margin: 100px 0;
}

.bottom-container {
    background-color: #81b9b9;
    padding: 50px 0 20px;
}

.photo {
    text-decoration: underline;
}

.mount {
    position: relative;
    vertical-align: bottom;
}

.top {
    position: absolute;
    width: 10%;
    right: 500px;
    top: 50px;
}

.mid {
    position: absolute;
    width: 10%;
    left: 400px;
    bottom: 300px;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: grey;
}

a {
    color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}


.skill-row {
    color: #40514E;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.contact {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover{
    border: solid #3300EE 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0;
 }

 .profile {
    border-radius: 50%;
 }